name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
        cache: 'gradle'
    - run: chmod +x gradlew
    - run: ./gradlew assembleDebug --stacktrace
    - uses: actions/upload-artifact@v4
      with:
        name: KidSafe-APK
        path: app/build/outputs/apk/debug/app-debug.apk
        retention-days: 30
